# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_HOST=
REDIS_PORT=

# RabbitMQ
RABBITMQ_URL=

# Better Auth
BETTER_AUTH_SECRET=
FRONTEND_URL=http://localhost:3001
GATEWAY_URL=http://localhost:3000
AUTH_SERVICE_URL=http://localhost:3002
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ROBLOX_CLIENT_ID=
ROBLOX_CLIENT_SECRET=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=